.backstory {
    .control {
        margin-bottom: 40px;

        input, select, textarea {
            border-radius: 1px;
        }

        .ck-editor__editable {
            min-height: 300px;
        }

    }

    textarea {

        overflow: hidden;

        &.content {
            min-height: 300px;
        }

    }


}
