.backstory .control {
  margin-bottom: 40px; }
  .backstory .control input,
  .backstory .control select,
  .backstory .control textarea {
    border-radius: 1px; }
  .backstory .control .ck-editor__editable {
    min-height: 300px; }

.backstory .label {
  font-weight: normal;
  text-transform: uppercase; }

.backstory .button.is-rounded {
  border-radius: 30%; }

.backstory textarea {
  overflow: hidden; }
  .backstory textarea.content {
    min-height: 300px; }

.backstory .file-name {
  color: lightgray; }

.backstory .choices__list--multiple .choices__item {
  background-color: gray;
  border-color: gray; }

.backstory .cke_editable {
  color: grey; }

.backstory .editor-bar {
  background-color: lightgray;
  padding: 8px;
  border-radius: 7px 7px 0 0; }
  .backstory .editor-bar .button {
    border-radius: 20px;
    margin: 0 5px; }
