.backstory {
    .control {
        margin-bottom: 40px;
    }

    .select {
        width: 100%;

    }

    textarea {

        overflow: hidden;

        &.content {
            min-height: 400px;
        }

    }


}
